/* Write your CSS code here */
.not-found-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-heading {
    font-size: 32px;
    color: black;
    font-weight: 600;
    font-family: "Roboto";
}

